*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10rem;
}
/* git log : historique dyal lcommits */
/*git log --oneline  : afficher tous les commits   */
/* lfork kanst3mloh bach nakhdo chi project dyal chiwahd bach nzido fih wlkn fnafs lwe9t kayb9a dyalo kayna*/

/* atnjreb hwa lowel */
/* ahya ama lblam atcriyit les branche kiwan ikhdem ghelbranch nes ? */